.decoratorWrapper {
  composes: decoratorWrapper from "~@folio/data-import/src/components/withReferenceValues/withReferenceValues.css";
}

.decorator {
  composes: decorator from "~@folio/data-import/src/components/withReferenceValues/withReferenceValues.css";
}

.options-dropdown {
  composes: options-dropdown from "~@folio/data-import/src/components/withReferenceValues/withReferenceValues.css";
}
