@import "@folio/stripes-components/lib/variables.css";

.mappingForm {
  max-width: 100%;
  & [for|="checkbox"] {
    & [class|="inner"] {
      min-height: 35px;
    }
  }
}

.colWithTable {
  margin-bottom: 1em;
}
