@import "@folio/stripes-components/lib/variables.css";

.mappingForm {
  max-width: 100%;

  & [class|="kvRoot"] {
    margin-bottom: 0;
  }
}

.colWithTable {
  margin-bottom: 1em;
}

.addFieldButton {
  margin-top: var(--gutter);
}
