{
  "globals": {
    "process": true
  },
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "key-spacing": ["error", { "beforeColon": false }],
    "newline-before-return": 2,
    "newline-after-var": 2,
    "react/jsx-one-expression-per-line": false
  }
}
