{
  "globals": {
    "process": true
  },
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "key-spacing": [
      "error",
      {
        "beforeColon": false
      }
    ],
    "newline-before-return": "error",
    "newline-after-var": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "react/jsx-one-expression-per-line": false,
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  }
}
