@import "@folio/stripes-components/lib/variables.css";

.upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: var(--gutter);
  height: 100%;
  border: 1px dashed var(--color-border);
  border-radius: var(--radius);
  background-color: var(--color-fill);
}

.uploadTitle {
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.activeUpload {
  background-color: var(--color-fill-current);
  color: var(--bg);
  border-style: dashed;
}

.activeUploadTitle {
  font-size: var(--font-size-xx-large);
}
