@import "@folio/stripes-components/lib/variables.css";

.decorator {
  & [data-test-repeatable-decorator] {
    display: flex;
  }

  & fieldset {
    min-width:100%;
    width: 100%;
    margin: 0;
  }
}
