@import "@folio/stripes-components/lib/variables.css";

.delimiter {
  overflow-wrap: break-word;

  & > span:not(:last-child):after {
    content: " \B7 ";
  }
}

.job {
  padding: .5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  font-size: var(--font-size-small);
  line-height: var(--line-height);

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.jobHeader {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.jobPreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
