@import "@folio/stripes-components/lib/variables.css";

.fileExtensionContainer {
  width: 100%;
}

.editIcon {
  color: var(--success);
}

.newRecordContainer {
  position: absolute;
  width: 100%;
  height: 100%;

  &:empty {
    display: none;
  }
}

.userColumn {
  align-items: baseline;
}
