@import "@folio/stripes-components/lib/variables.css";

.list {
  margin-bottom: 0;
}

.rootListContainer {
  position: relative;
}

.rootList {
  padding: 0;
}

.listItem {
  list-style-type: none;
}
