@import "@folio/stripes-components/lib/variables.css";

.match-criteria {
  background-color: #616161;

  & > :last-child > :last-child {
    margin-top: 0;
  }

  & .match-criterion {
    padding: 0;
    border: none;
    border-radius: 0;

    & .incoming {
      background-color: #b2b2b2;

      & label :not(:first-child) {
        color: #616161;
      }

      & .field > :first-child {
        color: #616161;
      }
    }

    & .input-container {
      background-color: #e5e5e5;

      & [class|="content"] {
        & [class|="formControl"] {
          margin-bottom: 0;
        }
      }

      & input, & select {
        background-color: #ffffff;
      }

      & > div:last-child:not(:first-child) {
        display: inline-flex;
        justify-content: left;

        & > :nth-child(n+2) {
          margin: 0 0 0 1rem;
        }
      }
    }

    & .static-section {
      & > div:first-child {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: -1rem !important;

        & > div:first-child {
          width: 150px;
          margin-right: 3rem;
        }

        & > div:last-child:not(:first-child) {
          flex-grow: 1;
          margin-top: 0;
        }
      }

      & .date-range-label {
        margin: 0 0.7rem;
      }
    }

    & .criterion {
      background-color: #b2b2b2;
    }

    & .existing {
      background-color: #b2b2b2;

      & label {
        color: #616161;
      }

      & .field > :first-child {
        color: #616161;
      }
    }
  }
}
