@import "@folio/stripes-components/lib/variables.css";

.match-criterion {
  composes: match-criterion from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.input-container {
  composes: input-container from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.incoming {
  composes: incoming from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.criterion {
  composes: criterion from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.existing {
  composes: existing from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.field {
  composes: field from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.match-criteria {
  composes: match-criteria from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";

  & > :last-child > :last-child {
    & > ul {
      margin-bottom: 0;

      & section {
        & > :first-child button {
          & span {
            color: #b2b2b2;
          }

          & div {
            color: var(--bg);
          }
        }

        & > :last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  & .match-criterion {
    & .qualifier > div:last-child:not(:first-child) {
      & > :first-child {
        width: 16rem;
      }

      & > :last-child {
        width: 26rem;
      }
    }

    & .part > div:last-child:not(:first-child) {
      & > :first-child {
        width: 16rem;
      }
    }

    & .incoming {
      & .field > div:last-child:not(:first-child) {
        & > :first-child {
          width: 8rem;
        }

        & > :nth-child(2) {
          width: 3rem;
        }

        & > :nth-child(3) {
          width: 3rem;
        }

        & > :last-child {
          width: 26rem;
        }
      }
    }

    & .criterion {
      & > div:last-child:not(:first-child) {
        & > :first-child {
          width: 45rem;
        }
      }
    }

    & .input-container {
      & > div:last-child:not(:first-child) {
        width: 100%;
      }
    }

    & .existing{
      & > :last-child > :first-child > :last-child button div {
        color: var(--color-text);
      }

      & .field > div:last-child:not(:first-child) {
        & > :first-child {
          width: 8rem;
        }

        & > :nth-child(2) {
          width: 3rem;
        }

        & > :nth-child(3) {
          width: 3rem;
        }

        & > :last-child {
          width: 26rem;
        }
      }
    }
  }
}
