@import "@folio/stripes-components/lib/variables.css";

.match-criterion {
  composes: match-criterion from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.input-container {
  composes: input-container from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.static-section {
  composes: static-section from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.date-range-label {
  composes: date-range-label from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.incoming {
  composes: incoming from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.criterion-section {
  composes: criterion-section from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.existing {
  composes: existing from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.field {
  composes: field from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";
}

.match-criteria {
  composes: match-criteria from "@folio/data-import/src/settings/MatchProfiles/MatchProfiles.css";

  & [class|="repeatableFieldList"] {
    margin-bottom: 0;

    & > li {
      position: relative;
    }

    & section {
      & > [class|="headerWrapper"]  {
        /*TODO: padding-right: 2.8rem; should be added after all mechanisn of adding new field added*/

        & > button {
          & span {
            color: #b2b2b2;
          }

          & div {
            color: var(--bg);
          }
        }
      }


      & > :last-child {
        margin-bottom: 0;
      }
    }

    & div[class|="repeatableFieldRemoveItem"] {
      display: none; /*TODO: should be removed after all mechanisn of adding new field added*/
      margin: 0;
      flex: none;
      position: absolute;
      right: 0;
      top: 0.5rem;

      & button {
        color: var(--bg);
      }
    }
  }

  & .match-criterion {
    & .existing {
      & [class|="selectionControlContainer"] button div {
        color: var(--color-text);
      }
    }
  }
}
