@import "@folio/stripes-components/lib/variables.css";

.jobsPane [role=tabpanel] {
  margin-left: var(--input-horizontal-padding);
  margin-right: var(--input-horizontal-padding);
}

.jobList {
  margin-bottom: 5px;
}
