@import "@folio/stripes-components/lib/variables.css";

.form {
  height: 100%;
}

.formContent {
  max-width: 50em;
  margin: 0 auto;
}

.checkBoxLabel {
  margin: 0;
  line-height: 1.5;
  cursor: default;
}
