@import "./Themes/themeCoy.css";
@import "./Themes/themeStalker.css";


pre {
  outline: 1px solid #cccccc;
  padding: 5px;
  margin: 5px;
  & code {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  &.coy {
    /*@add-mixin coy;*/
    & code {
      background-color: #d9edf7;
      &.error {
        background-color: rgba(255, 65, 54, 0.4);
        & .header {
          background: #a61e37;
          color: #ffffff;
        }
      }
      & .string { color: green; }
      & .number { color: darkorange; }
      & .boolean { color: blue; }
      & .null { color: magenta; }
      & .key { color: red; }
    }
  }
  &.stalker {
    /*@add-mixin stalker;*/
    & code {
      background-color: #2b2b2b;
      &.error {
        background-color: rgba(255, 65, 54, 0.4);
        & .header {
          background: #a61e37;
          color: #ffffff;
        }
      }
      & .string { color: #2ECC40; }
      & .number { color: #f0ad4e; }
      & .boolean { color: #8cbbdd; }
      & .null { color: magenta; }
      & .key { color: #fd7b7b; }
    }
  }
}
