@import "@folio/stripes-components/lib/variables.css";

.highlightToolbar {
  display:block;
  width:100%;
  height:35px;
}

pre {
  display: inline-block;  
  width: auto;
  overflow: visible;
  & code {
    display: block;
    width: auto;
    overflow: auto;
    margin: 5px;
    padding: 5px;
    outline: 1px solid #cccccc;
    font-size: 12px;
  }
}
