pre {
  & code {
    &.info {
      background-color: #f5f8f6;
      color: #000000;
    }
    &.error {
      outline: 1px solid #bf0000;
      background-color: #e7cdcd;
      color: #000000;
      & .header {
        background: #a61e37;
        color: #ffffff;
      }
    }
    & .key { color: #dc6900; }
    & .string { color: #145A32  ; }
    & .number { color: #bf0000; }
    & .boolean { color: #005b96; }
    & .null { color: 	#800080; }
  }
}

