.container {
  width: 100%;
}

.fullWidthAndHeightContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &:empty {
    display: none;
  }
}

.baseline {
  align-items: baseline;
}

.selectableCellButton {
  & label {
    &:before,
    &:after {
      content: none;
    }

    & input {
      margin: 0;
    }

    justify-content: center;
    margin-bottom: 0;
  }
}
