@import "@folio/stripes-components/lib/variables.css";

.decorator {
  display: flex;
  align-items: center;
  & .options-dropdown {
    display: flex;
    height: 25px;
    margin: 12px 0 0 -1px;
    & button {
      min-width: 143px;
      height: 23px;
      padding: 0 5px 0 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.42);
      border-right: 1px solid rgba(0, 0, 0, 0.42);
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      border-radius: 0;
      &::before {
        border-radius: 0;
      }
    }
  }
}
