@import "@folio/stripes-components/lib/variables.css";

.decoratorWrapper {
  display: flex;
  flex-direction: column;
}

.decorator {
  display: flex;
  align-items: flex-start;
  & .options-dropdown {
    display: flex;
    height: 100%;
    & button {
      min-width: 143px;
      height: 23px;
      padding: 0 5px 0 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.42);
      border-right: 1px solid rgba(0, 0, 0, 0.42);
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      border-left: 0;
      border-radius: 0;
      &::before {
        border-radius: 0;
      }
    }
  }
}
